<div class="single-product-card">
    <div class="single-prod-img"><img src="{{this.image_url}}"></div>
    <div class="prod-info">
        <h3>{{this.name}}</h3>
        <h4>{{this.tagline}}</h4>
        <p>{{this.description}}</p>
    </div>

</div>